.container {
  width: 100%;
  height: 100vh;
}

.inner-container {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  width: 100%;
  height: 7%;
  background-color: #015c77;
  align-items: center;
  justify-content: right;
  gap: 20px;
  padding-right: 50px;
}
@media (max-width: 800px) {
  .header {
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-height: 400px) {
  .header {
    justify-content: center;
  }
}

.share-btn {
  background-color: #e5e5e5;
  color: #000000;
  padding: 7px 20px 7px 20px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 100%;
}
@media (max-height: 800px) {
  .share-btn {
    padding: 4px 10px 4px 10px;
    font-size: 75%;
  }
}
@media (max-width: 800px) {
  .share-btn {
    padding: 4px 10px 4px 10px;
    font-size: 75%;
  }
}

.header-text {
  color: #ffffff;
  cursor: pointer;
  font-size: 100%;
}
@media (max-width: 800px) {
  .header-text {
    font-size: 75%;
    justify-content: space-evenly;
  }
}
@media (max-width: 400px) {
  .header-text {
    font-size: 55%;
    justify-content: space-evenly;
  }
}
@media (max-height: 400px) {
  .header-text {
    font-size: 55%;
  }
}

.middle-container {
  height: 83%;
  width: 100%;
  display: flex;
}

.center-content {
  width: 100%;
}

.top-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25%;
  background-color: #008081;
  color: #012734;
  font-size: 150%;
  font-weight: 700;
}
@media (max-width: 800px) {
  .top-content {
    font-size: 100%;
  }
}

.middle {
  display: flex;
  width: 100%;
  height: 62.5%;
}

.middle-content1 {
  display: flex;
  width: 35%;
  height: 100%;
  background-color: #fe6347;
  color: #012734;
  font-size: 150%;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}
@media (max-width: 800px) {
  .middle-content1 {
    font-size: 100%;
  }
}

.middle-content2 {
  display: flex;
  width: 30%;
  height: 100%;
  background-color: #ffff00;
  color: #012734;
  font-size: 150%;
  font-weight: 700;
  align-items: center;
  justify-content: left;
}
@media (max-width: 800px) {
  .middle-content2 {
    font-size: 100%;
  }
}

.middle-content3 {
  display: flex;
  width: 35%;
  height: 100%;
  background-color: #9acd32;
  color: #012734;
  font-size: 200%;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}
@media (max-width: 800px) {
  .middle-content3 {
    font-size: 150%;
  }
}

.bottom-content {
  display: flex;
  width: 100%;
  height: 12.5%;
  background-color: #ee82ef;
  color: #012734;
  font-size: 150%;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}
@media (max-width: 800px) {
  .bottom-content {
    font-size: 100%;
  }
}

.side-bar {
  display: flex;
  width: 20%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.side-bar-content {
  display: flex;
  width: 100%;
  height: 12.5%;
  color: #012734;
  font-size: 100%;
  font-weight: 700;
  background-color: #fafcf7;
  border-bottom: 1px solid #252525;
  align-items: center;
  justify-content: left;
  padding-left: 10%;
}
@media (max-width: 800px) {
  .side-bar-content {
    font-size: 75%;
  }
}

.footer {
  gap: 20px;
  display: flex;
  width: 100%;
  height: 10%;
  background-color: #012734;
  align-items: center;
  justify-content: center;
}

.footer-text {
  color: #ffffff;
  cursor: pointer;
  font-size: 100%;
}
@media (max-width: 800px) {
  .footer-text {
    font-size: 75%;
  }
}
@media (max-width: 400px) {
  .footer-text {
    font-size: 55%;
    justify-content: space-between;
  }
}
@media (max-height: 400px) {
  .footer-text {
    font-size: 55%;
  }
}
